---

const { divClass } = Astro.props;
---

<div class={divClass}>
    <svg
      width="104"
      height="26"
      viewBox="0 0 104 26"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="90.8941" cy="12.9788" r="12.9788" fill="#142D17"></circle>
      <path
        d="M94.1388 9.27093H95.0659M88.1129 6.48975H93.6753C94.6587 6.48975 95.602 6.88043 96.2974 7.57586C96.9928 8.27129 97.3835 9.2145 97.3835 10.198V15.7603C97.3835 16.7438 96.9928 17.687 96.2974 18.3825C95.602 19.0779 94.6587 19.4686 93.6753 19.4686H88.1129C87.1294 19.4686 86.1862 19.0779 85.4908 18.3825C84.7954 17.687 84.4047 16.7438 84.4047 15.7603V10.198C84.4047 9.2145 84.7954 8.27129 85.4908 7.57586C86.1862 6.88043 87.1294 6.48975 88.1129 6.48975ZM90.8941 15.7603C90.1565 15.7603 89.4491 15.4673 88.9275 14.9458C88.4059 14.4242 88.1129 13.7168 88.1129 12.9792C88.1129 12.2416 88.4059 11.5341 88.9275 11.0126C89.4491 10.491 90.1565 10.198 90.8941 10.198C91.6317 10.198 92.3391 10.491 92.8607 11.0126C93.3822 11.5341 93.6753 12.2416 93.6753 12.9792C93.6753 13.7168 93.3822 14.4242 92.8607 14.9458C92.3391 15.4673 91.6317 15.7603 90.8941 15.7603Z"
        stroke="white"
        stroke-width="1.5"></path>
      <circle cx="12.9788" cy="12.9788" r="12.9788" fill="#142D17"></circle>
      <path
        d="M11.4572 15.7279L15.4059 13.4262L11.4572 11.1246V15.7279ZM20.2524 9.72054C20.3513 10.0811 20.4197 10.5645 20.4654 11.1783C20.5186 11.792 20.5415 12.3214 20.5415 12.7818L20.5871 13.4262C20.5871 15.1064 20.4654 16.3417 20.2524 17.1319C20.0621 17.8224 19.6209 18.2674 18.9361 18.4592C18.5785 18.5589 17.9242 18.628 16.9199 18.674C15.9308 18.7277 15.0255 18.7507 14.1885 18.7507L12.9788 18.7968C9.79096 18.7968 7.8052 18.674 7.02154 18.4592C6.3368 18.2674 5.89552 17.8224 5.70531 17.1319C5.6064 16.7713 5.53793 16.288 5.49228 15.6742C5.43902 15.0604 5.41619 14.531 5.41619 14.0707L5.37054 13.4262C5.37054 11.746 5.49228 10.5108 5.70531 9.72054C5.89552 9.03004 6.3368 8.58505 7.02154 8.39324C7.37913 8.2935 8.03344 8.22445 9.03774 8.17842C10.0268 8.12471 10.9322 8.1017 11.7691 8.1017L12.9788 8.05566C16.1667 8.05566 18.1525 8.17842 18.9361 8.39324C19.6209 8.58505 20.0621 9.03004 20.2524 9.72054Z"
        fill="white"></path>
      <circle cx="51.9365" cy="12.9788" r="12.9788" fill="#142D17"></circle>
      <g clip-path="url(#clip0_105_30681)">
        <path
          d="M53.2089 11.933L58.1855 6.14795H57.0061L52.685 11.1709L49.2336 6.14795H45.2528L50.4719 13.7437L45.2528 19.8101H46.4322L50.9956 14.5056L54.6404 19.8101H58.6212L53.2085 11.933H53.2089ZM51.5935 13.8105L51.0646 13.0541L46.8571 7.03577H48.6687L52.064 11.8929L52.5928 12.6492L57.0066 18.9626H55.1953L51.5935 13.8108V13.8105Z"
          fill="white"></path>
      </g>
      <defs>
        <clipPath id="clip0_105_30681">
          <rect
            width="13.6621"
            height="13.6621"
            fill="white"
            transform="translate(45.106 6.14795)"></rect>
        </clipPath>
      </defs>
    </svg>
</div>