---
import TedHeader from '../layouts/header.astro'
import TedFooter from '../layouts/footer.astro'
import News from '../components/News.astro'
import HeaderOptions from '../components/HeaderOptions.astro'
---

<!-- <TedHeader /> -->
<section class="py-10 px-4">
    <h1 class="font-nimbus font-bold text-color-tednews-text text-9xl transform scale-y-150 border-color-tednews-text border-b-2 text-center mt-10">TED NEWS</h1>
</section>
<HeaderOptions />
<News />
<TedFooter />