---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
---


<section class="mx-6 mb-16 flex flex-col justify-center items-center">
    <div class="flex flex-col items-center mb-8">
        <Image
            src="/notice-1.png"
            alt="notice 1"
            width={335}
            height={313}
        />
        <p class="text-ted-gray mt-6 mb-2">By Jack Brown | February 6, 2024</p>
        <h1 class="text-xl-ted text-center font-semibold">
            Latest albums in the next month by Tylor Swift
        </h1>
    </div>
    <div class="flex flex-wrap gap-3">
        <div class="max-w-[156px]">
            <Image
                src="/notice-2.png"
                alt="notice 2"
                width={156}
                height={90}
            />
            <p class="text-ted-gray text-sm">Jake Thompson | 3.1.24</p>
            <h1 class="font-semibold">Top artists join to the charity concerts in US</h1>
        </div>
        <div class="max-w-[156px]">
            <Image
                src="/notice-3.png"
                alt="notice 3"
                width={156}
                height={90}
            />
            <p class="text-ted-gray text-sm">Jake Thompson | 3.1.24</p>
            <h1 class="font-semibold">Top artists join to the charity concerts in US</h1>
        </div>
        <div class="max-w-[156px]">
            <Image
                src="/notice-4.png"
                alt="notice 4"
                width={156}
                height={90}
            />
            <p class="text-ted-gray text-sm">Jake Thompson | 3.1.24</p>
            <h1 class="font-semibold">Top artists join to the charity concerts in US</h1>
        </div>
        <div class="max-w-[156px]">
            <Image
                src="/notice-5.png"
                alt="notice 5"
                width={156}
                height={90}
            />
            <p class="text-ted-gray text-sm">Jake Thompson | 3.1.24</p>
            <h1 class="font-semibold">Top artists join to the charity concerts in US</h1>
        </div>
    </div>
    <button class="font-ted border-2 p-2 flex gap-4 items-center text-ted-green border-ted-green mt-14">
        View all news <Icon name="material-symbols:arrow-forward-ios-rounded" />
    </button>
</section>