<section class="text-color-tednews-text px-4">
    <ul class="list-none p-0 m-0 flex justify-center text-[2.7rem] font-bold gap-2 border-b-2 border-color-tednews-text">
        <li>News <span class="text-gray-500">/</span></li>
        <li>Contributors <span class="text-gray-500">/</span></li>
        <li>Community <span class="text-gray-500">/</span> </li>
        <li>Promote</li>
    </ul>
</section>