<section class="border-b-2 border-color-tednews-text pb-2 pt-4 text-color-tednews-text">
    <ul class="list-none p-0 m-0 flex justify-center text-sm font-bold gap-2">
        <li>News <span class="text-gray-500">/</span></li>
        <li>Contributors <span class="text-gray-500">/</span></li>
        <li>Community <span class="text-gray-500">/</span> </li>
        <li>Promote</li>
    </ul>
</section>