---
import UserHeader from './UserHeader.vue'
import { Icon } from 'astro-icon/components'
---

<div class="flex mx-2 my-auto gap-1 items-center">
    <Icon name="material-symbols:person" /> Login 
</div>