---
import { Icon } from 'astro-icon/components'
---

<section class="mx-6 mb-16">
    <div class="font-ted text-xl text-ted-green flex justify-between mb-10">
        <h1>Latest song Lyrics</h1>
        <div class="flex gap-3 items-center">
            <button>
                <Icon name="material-symbols:arrow-back-ios-new-rounded" />
            </button>
            <button>
                <Icon name="material-symbols:arrow-forward-ios-rounded" />
            </button>
        </div>
    </div>
    <div class="bg-ted-image bg-cover h-85">

    </div>
    <button class="font-ted border-2 p-2 flex gap-4 items-center text-ted-green border-ted-green mt-14 mx-auto">
        View all lyrics <Icon name="material-symbols:arrow-forward-ios-rounded" />
    </button>
</section>