---
import { Icon } from 'astro-icon/components'
---

<section class="mx-6 mb-16">
    <h1 class="font-ted text-ted-green text-2xl text-center mb-6">
        Top 10 Songs Lyrics
    </h1>
    <button class="font-ted text-ted-green border-2 border-ted-green p-2 flex gap-4 items-center justify-center text-center mx-auto">
        <Icon name="material-symbols:menu" /> Sort by
    </button>
</section>